.card-container {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    width: 80%;
}

.card-container h2 {
    font-size: 15px;
    font-weight: 400;
    padding: 10px
}