.footer {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    height: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footer-container h2 {
    color: rgb(119, 119, 119);
    font-size: 10px;
    font-weight: 400;
}