.form {
    background-color: white;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 10px;
    font-size: 200;
}

.input {
    margin-bottom: 10px;
}

.submit {
    width: 80px;
    border: 1px solid grey;
    padding: 5px;
    background-color: gray;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.message {
    font-size: 12px;
    font-weight: 300;
}

.red {
    color: red;
}

.green {
    color: green;
}

.fade-out {
    animation: fade-out ease 2s forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}