.navbar {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    height: 60px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.nav-list-items {
    list-style: none;
}

.nav-items {
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.nav-list-container {
    display: flex;
    justify-content: center;
    width: 350px;
    font-size: 10px;
    gap: 50px;
    font-weight: 300;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 50px;
}

.logo {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.795);
}

.logo-part {
    color: grey;
    font-weight: 600;
    border: 1px dotted rgb(126, 126, 126);
}